.Toolbar nav{
    height: 100%;
}

.header {
    height: 55px;
    width: 100%;
    left: 5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;

    background:#fff;
    -webkit-box-shadow:0 5px 10px rgba(91,91,91,.1);
    box-shadow:0 5px 10px rgba(91,91,91,.1)
   }
   .header__logo {
    padding:16px 0
   }
   .header__logo a {
    display:inline-block
   }
   .header__menu {
    padding:30px 0 27px
   }
   .header__menu ul li {
    list-style:none;
    display:inline-block;
    margin-right:40px;
    position:relative
   }
   .header__menu ul li.active a:after {
    -webkit-transform:scale(1);
    -ms-transform:scale(1);
    transform:scale(1)
   }
   .header__menu ul li:hover a:after {
    -webkit-transform:scale(1);
    -ms-transform:scale(1);
    transform:scale(1)
   }
   .header__menu ul li:hover .dropdown {
    top:27px;
    opacity:1;
    visibility:visible
   }
   .header__menu ul li:last-child {
    margin-right:0
   }
   .header__menu ul li .dropdown {
    position:absolute;
    left:0;
    top:56px;
    width:150px;
    background:#111;
    text-align:left;
    padding:2px 0;
    z-index:9;
    opacity:0;
    visibility:hidden;
    -webkit-transition:all,.3s;
    -o-transition:all,.3s;
    transition:all,.3s
   }
   .header__menu ul li .dropdown li {
    display:block;
    margin-right:0
   }
   .header__menu ul li .dropdown li a {
    font-size:14px;
    color:#fff;
    font-weight:400;
    padding:8px 20px;
    text-transform:capitalize
   }
   .header__menu ul li .dropdown li a:after {
    display:none
   }
   .header__menu ul li a {
    font-size:15px;
    text-transform:uppercase;
    color:#111;
    font-weight:500;
    display:block;
    padding:2px 0;
    position:relative
   }
   .header__menu ul li a:after {
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    height:2px;
    background:#ca1515;
    content:"";
    -webkit-transition:all,.5s;
    -o-transition:all,.5s;
    transition:all,.5s;
    -webkit-transform:scale(0);
    -ms-transform:scale(0);
    transform:scale(0)
   }
   .header__right {
    text-align:right;
    padding:30px 0 27px
   }
   .header__right__auth {
    display:inline-block;
    margin-right:25px
   }
   .header__right__auth a {
    font-size:12px;
    color:#666;
    position:relative;
    margin-right:8px
   }
   .header__right__auth a:last-child {
    margin-right:0
   }
   .header__right__auth a:last-child:after {
    display:none
   }
   .header__right__auth a:after {
    position:absolute;
    right:-8px;
    top:-2px;
    content:"/";
    font-size:13px
   }
   .header__right__widget {
    display:inline-block
   }
   .header__right__widget li {
    list-style:none;
    display:inline-block;
    font-size:18px;
    color:#111;
    margin-right:20px;
    cursor:pointer
   }
   .header__right__widget li:last-child {
    margin-right:0
   }
   .header__right__widget li a {
    font-size:18px;
    color:#111;
    position:relative
   }
   .header__right__widget li a .tip {
    position:absolute;
    right:-12px;
    top:-11px;
    height:18px;
    width:18px;
    background:#111;
    font-size:10px;
    font-weight:500;
    color:#fff;
    line-height:18px;
    text-align:center;
    border-radius:50%
   }
   @media only screen and (min-width:1200px) and (max-width:1599px) {
    .header__menu ul li {
     margin-right:20px
    }
    .header {
     padding:0 30px
    }
   }
   @media only screen and (min-width:992px) and (max-width:1199px) {
    .header__menu ul li {
     margin-right:20px
    }
    .header__right__auth {
     margin-right:5px
    }
    .sidebar__filter a {
     padding:5px 15px
    }
    .nav::before {
     width:240px
    }
    .nav::after {
     width:240px
    }
   }
   @media only screen and (min-width:768px) and (max-width:991px) {
    .filter__controls li {
     margin-right:15px
    }
    .discount__pic img {
     height:auto
    }
    .discount__text {
     height:auto
    }
    .sidebar__filter a {
     position:relative;
     bottom:0
    }
    .filter-range-wrap .range-slider .price-input input {
     max-width:27%
    }
    .filter-range-wrap .range-slider .price-input {
     margin-bottom:20px
    }
    .product__details__pic {
     margin-bottom:50px
    }
    .nav::before {
     width:125px
    }
    .nav::after {
     width:125px
    }
    .discount__content {
     margin-bottom:40px
    }
    .checkout__order {
     margin-top:20px
    }
    .blog__sidebar {
     padding-left:0
    }
    .canvas__open {
     display:block;
     font-size:22px;
     color:#222;
     height:35px;
     width:35px;
     line-height:35px;
     text-align:center;
     border:1px solid #323232;
     border-radius:2px;
     cursor:pointer;
     position:absolute;
     right:15px;
     top:24px
    }
    .offcanvas-menu-overlay {
     position:fixed;
     left:0;
     top:0;
     height:100%;
     width:100%;
     background:rgba(0,0,0,.7);
     content:"";
     z-index:98;
     -webkit-transition:all,.5s;
     -o-transition:all,.5s;
     transition:all,.5s;
     visibility:hidden
    }
    .offcanvas-menu-overlay.active {
     visibility:visible
    }
    .offcanvas-menu-wrapper {
     position:fixed;
     left:-300px;
     width:300px;
     height:100%;
     background:#fff;
     padding:90px 20px 30px 30px;
     display:block;
     z-index:99;
     overflow-y:auto;
     -webkit-transition:all,.5s;
     -o-transition:all,.5s;
     transition:all,.5s;
     opacity:0
    }
    .offcanvas-menu-wrapper.active {
     opacity:1;
     left:0
    }
    .offcanvas__close {
     position:absolute;
     width:40px;
     height:40px;
     right:30px;
     top:25px;
     border:1px solid #ddd;
     border-radius:50%;
     font-size:26px;
     text-align:center;
     -webkit-transform:rotate(45deg);
     -ms-transform:rotate(45deg);
     transform:rotate(45deg);
     cursor:pointer
    }
    .offcanvas__menu {
     display:none
    }
    .slicknav_btn {
     display:none
    }
    .slicknav_menu {
     background:0 0;
     padding:0;
     margin-bottom:20px
    }
    .slicknav_nav ul {
     margin:0
    }
    .slicknav_nav .slicknav_row,
    .slicknav_nav a {
     padding:7px 0;
     margin:0;
     color:#111;
     font-weight:600
    }
    .slicknav_nav .slicknav_row:hover {
     border-radius:0;
     background:0 0;
     color:#111
    }
    .slicknav_nav a:hover {
     border-radius:0;
     background:0 0;
     color:#111
    }
    .slicknav_nav {
     display:block!important
    }
    .offcanvas__logo {
     margin-bottom:25px
    }
    .offcanvas__widget {
     text-align:center;
     margin-bottom:20px
    }
    .offcanvas__widget li {
     list-style:none;
     display:inline-block;
     font-size:18px;
     color:#111;
     margin-right:20px;
     cursor:pointer
    }
    .offcanvas__widget li:last-child {
     margin-right:0
    }
    .offcanvas__widget li a {
     font-size:18px;
     color:#111;
     position:relative
    }
    .offcanvas__widget li a .tip {
     position:absolute;
     right:-12px;
     top:-11px;
     height:18px;
     width:18px;
     background:#111;
     font-size:10px;
     font-weight:500;
     color:#fff;
     line-height:18px;
     text-align:center;
     border-radius:50%
    }
    .offcanvas__auth a {
     font-size:15px;
     color:#111;
     position:relative;
     margin-right:8px;
     font-weight:500
    }
    .offcanvas__auth a:last-child {
     margin-right:0
    }
    .offcanvas__auth a:last-child:after {
     display:none
    }
    .offcanvas__auth a:after {
     position:absolute;
     right:-8px;
     top:-2px;
     content:"/";
     font-size:13px
    }
    .header__menu {
     display:none
    }
    .header__right {
     display:none
    }
   }
   @media only screen and (max-width:767px) {
    .canvas__open {
     display:block;
     font-size:22px;
     color:#222;
     height:35px;
     width:35px;
     line-height:35px;
     text-align:center;
     border:1px solid #323232;
     border-radius:2px;
     cursor:pointer;
     position:absolute;
     right:15px;
     top:24px
    }
    .offcanvas-menu-overlay {
     position:fixed;
     left:0;
     top:0;
     height:100%;
     width:100%;
     background:rgba(0,0,0,.7);
     content:"";
     z-index:98;
     -webkit-transition:all,.5s;
     -o-transition:all,.5s;
     transition:all,.5s;
     visibility:hidden
    }
    .offcanvas-menu-overlay.active {
     visibility:visible
    }
    .offcanvas-menu-wrapper {
     position:fixed;
     left:-270px;
     width:270px;
     height:100%;
     background:#fff;
     padding:90px 20px 30px 30px;
     display:block;
     z-index:99;
     overflow-y:auto;
     -webkit-transition:all,.5s;
     -o-transition:all,.5s;
     transition:all,.5s;
     opacity:0
    }
    .offcanvas-menu-wrapper.active {
     opacity:1;
     left:0
    }
    .offcanvas__close {
     position:absolute;
     width:40px;
     height:40px;
     right:30px;
     top:25px;
     border:1px solid #ddd;
     border-radius:50%;
     font-size:26px;
     text-align:center;
     -webkit-transform:rotate(45deg);
     -ms-transform:rotate(45deg);
     transform:rotate(45deg);
     cursor:pointer
    }
    .offcanvas__menu {
     display:none
    }
    .slicknav_btn {
     display:none
    }
    .slicknav_menu {
     background:0 0;
     padding:0;
     margin-bottom:20px
    }
    .slicknav_nav ul {
     margin:0
    }
    .slicknav_nav .slicknav_row,
    .slicknav_nav a {
     padding:7px 0;
     margin:0;
     color:#111;
     font-weight:600
    }
    .slicknav_nav .slicknav_row:hover {
     border-radius:0;
     background:0 0;
     color:#111
    }
    .slicknav_nav a:hover {
     border-radius:0;
     background:0 0;
     color:#111
    }
    .slicknav_nav {
     display:block!important
    }
    .offcanvas__logo {
     margin-bottom:25px
    }
    .offcanvas__widget {
     text-align:center;
     margin-bottom:20px
    }
    .offcanvas__widget li {
     list-style:none;
     display:inline-block;
     font-size:18px;
     color:#111;
     margin-right:20px;
     cursor:pointer
    }
    .offcanvas__widget li:last-child {
     margin-right:0
    }
    .offcanvas__widget li a {
     font-size:18px;
     color:#111;
     position:relative
    }
    .offcanvas__widget li a .tip {
     position:absolute;
     right:-12px;
     top:-11px;
     height:18px;
     width:18px;
     background:#111;
     font-size:10px;
     font-weight:500;
     color:#fff;
     line-height:18px;
     text-align:center;
     border-radius:50%
    }
    .offcanvas__auth a {
     font-size:15px;
     color:#111;
     position:relative;
     margin-right:8px;
     font-weight:500
    }
    .offcanvas__auth a:last-child {
     margin-right:0
    }
    .offcanvas__auth a:last-child:after {
     display:none
    }
    .offcanvas__auth a:after {
     position:absolute;
     right:-8px;
     top:-2px;
     content:"/";
     font-size:13px
    }
    .header__menu {
     display:none
    }
    .header__right {
     display:none
    }
    .filter__controls {
     text-align:left;
     margin-bottom:40px
    }
    .filter__controls li {
     margin-right:20px
    }
    .discount__pic img {
     height:auto
    }
    .discount__text {
     padding:75px 40px 50px;
     height:auto
    }
    .product__details__pic__left {
     height:auto
    }
    .product__details__pic {
     margin-bottom:30px
    }
    .quantity {
     float:none;
     margin-right:0
    }
    .nav::before {
     display:none
    }
    .nav::after {
     display:none
    }
    .shop__cart__table {
     overflow-x:auto
    }
    .shop__cart__table tbody tr .cart__product__item img {
     float:none;
     margin-right:0
    }
    .cart__btn {
     text-align:center;
     margin-bottom:25px
    }
    .cart__btn.update__btn {
     text-align:center
    }
    .discount__content h6 {
     display:block;
     margin-right:0;
     margin-bottom:20px
    }
    .discount__content {
     margin-bottom:35px
    }
    .blog__sidebar {
     padding-left:0;
     padding-top:40px
    }
    .contact__content {
     margin-bottom:40px
    }
   }