html,
body {
 height:100%;
 font-family:montserrat,sans-serif;
 -webkit-font-smoothing:antialiased
}
h1,
h2,
h3,
h4,
h5,
h6 {
 margin:0;
 color:#111;
 font-weight:400;
 font-family:montserrat,sans-serif
}
h1 {
 font-size:70px
}
h2 {
 font-size:36px
}
h3 {
 font-size:30px
}
h4 {
 font-size:24px
}
h5 {
 font-size:18px
}
h6 {
 font-size:16px
}
p {
 font-size:14px;
 font-family:montserrat,sans-serif;
 color:#666;
 font-weight:400;
 line-height:24px;
 margin:0 0 15px
}
img {
 max-width:100%
}
input:focus,
select:focus,
button:focus,
textarea:focus {
 outline:none
}
a:hover,
a:focus {
 text-decoration:none;
 outline:none;
}
ul,
ol {
 padding:0;
 margin:0
}
.section_title {
 margin-bottom:45px
}
.section_title h4 {
 color:#111;
 font-weight:600;
 text-transform:uppercase;
 position:relative;
 display:inline-block
}
.section_title h4:after {
 position:absolute;
 left:0;
 bottom:-4px;
 height:2px;
 width:70px;
 background:#ca1515;
 content:""
}
.set_bg {
 background-repeat:no-repeat;
 background-size:cover;
 background-position:top center;
}
.spad {
 padding-top:100px;
 padding-bottom:100px
}
.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p,
.text-white span,
.text-white li,
.text-white a {
 color:#fff
}
.primary-btn {
 display:inline-block;
 font-size:14px;
 text-transform:uppercase;
 font-weight:600;
 padding:12px 30px 10px;
 color:#fff;
 background:#ca1515
}
.site-btn {
 font-size:14px;
 color:#fff;
 background:#ca1515;
 font-weight:600;
 border:none;
 text-transform:uppercase;
 display:inline-block;
 padding:12px 30px;
 border-radius:50px
}
#preloder {
 position:fixed;
 width:100%;
 height:100%;
 top:0;
 left:0;
 z-index:999999;
 background:#fff
}
.loader {
 width:40px;
 height:40px;
 position:absolute;
 top:50%;
 left:50%;
 margin-top:-13px;
 margin-left:-13px;
 border-radius:60px;
 animation:loader .8s linear infinite;
 -webkit-animation:loader .8s linear infinite
}
@keyframes loader {
 0% {
  -webkit-transform:rotate(0deg);
  transform:rotate(0deg);
  border:4px solid #f44336;
  border-left-color:transparent
 }
 50% {
  -webkit-transform:rotate(180deg);
  transform:rotate(180deg);
  border:4px solid #673ab7;
  border-left-color:transparent
 }
 100% {
  -webkit-transform:rotate(360deg);
  transform:rotate(360deg);
  border:4px solid #f44336;
  border-left-color:transparent
 }
}
@-webkit-keyframes loader {
 0% {
  -webkit-transform:rotate(0deg);
  border:4px solid #f44336;
  border-left-color:transparent
 }
 50% {
  -webkit-transform:rotate(180deg);
  border:4px solid #673ab7;
  border-left-color:transparent
 }
 100% {
  -webkit-transform:rotate(360deg);
  border:4px solid #f44336;
  border-left-color:transparent
 }
}
.product {
 padding-top:60px;
 padding-bottom:50px
}
.filter__controls {
 text-align:right;
 margin-bottom:50px
}
.filter__controls li {
 font-size:14px;
 list-style:none;
 display:inline-block;
 color:#111;
 margin-right:35px;
 position:relative;
 cursor:pointer
}
.filter__controls li.active:after {
 opacity:1
}
.filter__controls li:after {
 position:absolute;
 left:0;
 bottom:-4px;
 height:2px;
 width:100%;
 background:#ca1515;
 content:"";
 opacity:0
}
.filter__controls li:last-child {
 margin-right:0
}
.product__item {
 margin-bottom:35px
}
.product__item:hover .product__hover li {
 opacity:1;
 top:0
}
.product__item.sale .product__item__pic .label {
 background:#ca1515
}
.product__item.sale .product__item__text .product__price {
 color:#ca1515
}
.product__item__pic {
 height:360px;
 position:relative;
 overflow:hidden
}
.product__item__pic .label {
 font-size:12px;
 color:#fff;
 font-weight:500;
 display:inline-block;
 padding:2px 8px;
 text-transform:uppercase;
 position:absolute;
 left:10px;
 top:10px
}
.product__item__pic .label.new {
 background:#36a300
}
.product__item__pic .label.stockout {
 background:#111
}
.product__item__pic .label.stockblue {
 background:#0066bd!important
}
.product__item__pic .label.sale {
 background:#ca1515
}
.product__hover {
 position:absolute;
 left:0;
 width:100%;
 bottom:30px;
 text-align:center
}
.product__hover li {
 list-style:none;
 display:inline-block;
 margin-right:10px;
 position:relative;
 top:100px;
 opacity:0
}
.product__hover li:nth-child(1) {
 -webkit-transition:all .4s ease .1s;
 -o-transition:all .4s ease .1s;
 transition:all .4s ease .1s
}
.product__hover li:nth-child(2) {
 -webkit-transition:all .4s ease .15s;
 -o-transition:all .4s ease .15s;
 transition:all .4s ease .15s
}
.product__hover li:nth-child(3) {
 -webkit-transition:all .4s ease .2s;
 -o-transition:all .4s ease .2s;
 transition:all .4s ease .2s
}
.product__hover li:last-child {
 margin-right:0
}
.product__hover li:hover a {
 background:#ca1515
}
.product__hover li:hover a span {
 color:#fff;
 -webkit-transform:rotate(360deg);
 -ms-transform:rotate(360deg);
 transform:rotate(360deg)
}
.product__hover li a {
 font-size:18px;
 color:#111;
 display:block;
 height:45px;
 width:45px;
 background:#fff;
 line-height:48px;
 text-align:center;
 border-radius:50%;
 -webkit-transition:all,.5s;
 -o-transition:all,.5s;
 transition:all,.5s
}
.product__hover li a span {
 position:relative;
 -webkit-transform:rotate(0);
 -ms-transform:rotate(0);
 transform:rotate(0);
 -webkit-transition:all,.3s;
 -o-transition:all,.3s;
 transition:all,.3s;
 display:inline-block
}
.product__item__text {
 text-align:center;
 padding-top:22px
}
.product__item__text h6 a {
 font-size:14px;
 color:#111
}
.product__item__text .rating {
 line-height:18px;
 margin-bottom:5px
}
.product__item__text .rating i {
 font-size:10px;
 color:#e3c01c;
 margin-right:-4px
}
.product__item__text .rating i:last-child {
 margin-right:0
}
.product__item__text .product__price {
 color:#111;
 font-weight:600
}
.product__item__text .product__price span {
 font-size:14px;
 color:#b1b0b0;
 text-decoration:line-through;
 margin-left:4px
}
.shop {
 padding-top:70px;
 padding-bottom:80px
}

 .ProductTumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    padding: 20px;
    background: #f0f0f0;
}

.ProductTumb img {
    max-width: 100%;
    max-height: 100%;
}
.ProductCard {
    /*width: 380px;*/
    /*position: relative;*/
    box-shadow: 0 2px 7px #dfdfdf;
    background: #fafafa;
    margin-bottom: 30px;
}
.ProductDetails {
    padding: 30px;
    max-width: 280px;
}


.ProductDetails h4 a {
    font-weight: 500;
    display: block;
    margin-Bottom: 18px;
    text-transform: uppercase;
    color: #363636;
    text-decoration: none;
    transition: 0.3s;
}

.ProductDetails h4 a:hover {
    color: #fbb72c;
}

.ProductDetails p {
    font-size: 15px;
    line-height: 22px;
    margin-Bottom: 18px;
    color: #999;
}

.ProductBottomDetails {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.Product-Bottom-Details div {
    float: left;
    width: 50%;
}

.ProductPrice {
    font-size: 18px;
    color: #fbb72c;
    font-weight: 600;
}

.ProductLinks {
    text-align: right;
}

.ProductLinks a {
    text-decoration: none;
    display: inline-block;
    margin-left: 5px;
    color: #00509b;
    transition: 0.3s;
    font-size: 17px;
}

.ProductLinks a:hover {
    color: #8bb9ff;
}
